[flake8]
# максимальная длина строки
max-line-length = 88

# игнорируем некоторые конфликты с Black/E203, W503
extend-ignore = E203, W503

# исключаем виртуальное окружение и временные папки
exclude =
    .venv,
    __pycache__,
    build,
    dist,
    .git 